@import "tailwindcss";

/*Defining CSS Custom Properties at root level*/
:root {
  --background: #ffffff; /*Sets the default background color to white.*/
  --foreground: #171717; /*Sets the default text color to a dark gray.*/
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Media query for dark mode */
/* This will apply when the user has set their system to dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/*Global body styles*/
body {
  background: var(--background); /* Sets the background color*/
  color: var(--foreground); /* Sets the text color*/
  font-family: Arial, Helvetica, sans-serif; /* Sets the default font family*/
}
